.App {
  text-align: center;
}
.card {
  border: 1px solid brown;
  background-color: azure;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boxes {
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px 0;
  width: 200px;
}